.graph__item {
  transition: transform 450ms;
}

.graph__item:hover {
  transform: scale(1.08);
  opacity: 1;
}
.graph__title > h3 {
  background-color: #0abb87;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: 400;

  border-bottom: 1px solid lightgray;
}
