.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  padding-top: 8px;
  padding-bottom: 15px;
  height: 45px;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  z-index: 10;
}

.header__contents {
  display: flex;
  justify-content: space-between;
}

.header__black {
  background-color: #111;
}

.header__contentRight {
  display: flex;
}
